body{
    background-image: url("https://static.vecteezy.com/system/resources/previews/024/234/847/non_2x/holographic-gradient-neon-illustration-fashionable-pastel-rainbow-unicorn-background-hologram-colors-liquid-background-translucent-gradient-neon-holographic-backdrop-shimmer-print-free-vector.jpg");
    margin: 50px;
}

h1{
    text-align: center;
    padding-bottom: 20px;
}